<div class="container wow fadeInUp">
    <div class="row">

        <div class="col-lg-12 col-sm-12 text-capitalize">
            <div class="alert alert-danger text-center" role="alert">
                <h2 class="alert-heading">Error 505</h2>
                <p><i class="fa fa-exclamation-circle fa-3x"></i> Ocurrió un error inesperado</p>
                <hr>
                <p class="mb-0">Volvé al inicio de CV haciendo <a href="@Url.Action("Index", "DatosPersonales")">CLICK AQUÍ</a> para seguir completando el curriculum vitae</p>
            </div>
        </div>
    </div>
</div>

