<section class="home-main">
    <div class="home-main__middle">
        <img src="~/Content/Imagenes/cv-birome.png" alt="Creá tu curriculum Vitae" title="Creá tu curriculum Vitae" class="home-main__img" />
    </div>
    <div class="home-main__split home-main__split--right">
        <h1 class="home-main__title"><a href="@Url.Action("Index", "DatosPersonales")">Creá tu CV</a></h1>
        <p class="home-main__description">
            Consigue el trabajo que te propongas.
        </p>
    </div>
</section>
<script src="~/Scripts/Home.js"></script>