<div class="jumbotron">
    <h1>Creá tu Curriculum Vitae</h1>
    <p class="lead"><img class="img-thumbnail" src="~/Content/Imagenes/cv-nav.png" /> La forma más sencilla.</p>
    <p><a href="@Url.Action("Index", "DatosPersonales")" class="btn btn-success btn-lg">Empezá</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consigue el trabajo que te propongas</h2>
        <p>
            Completa los formularios y exportalo a PDF <i class="fa fa-file-pdf-o"></i>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mejorá tu perfil</h2>
        <p>Cargá el PDF en Linkedin <i class="fa fa-linkedin-square"></i> .</p>
    </div>
    <div class="col-md-4">
        <h2>Diseño Moderno</h2>
        <p>Diseño actualizado y moderno para conseguir el trabajo que quieras</p>
    </div>
</div>